<div class="config-page">
    <div class="config-page__content">
        <div class="config-page__title">Gas From Mars</div>
        <div class="config-page__description">
            <div>Добро пожаловать в симулятор сети заправочных станций!</div>
            <div>
                Илон Маск уже запустил <strong>Falcon X</strong>, чтобы доставить Вам новую партию топлива прямиком с
                Марса.
            </div>
            <div class="description__container-img">
                <img src="assets/mars.svg" alt="" class="description__img" draggable="false">
                <img src="assets/rocket.svg" alt="" class="description__img" draggable="false">
            </div>
        </div>
        <div class="file-input__container">
            <div>Для начала симуляции загрузите конфигурационный файл в формате <strong>JSON</strong>:</div>
            <input type="file" class="file-input__input" accept="application/json">
        </div>
        <div class="submit-config__button">
            Начать симуляцию!
        </div>
    </div>
</div>