<div class="main-page__content">
    <div class="header">
        <div class="header__stats">
            <div class="header__stats-calendar header__item">
                <img src="assets/calendar.svg" alt="" class="stats-calendar__img" draggable="false">
                <div class="stats-calendar__title">Январь</div>
            </div>
            <div class="header__stats-delivery header__item">
                <img src="assets/delivery.svg" alt="" class="stats-delivery__img" draggable="false">
                <div class="stats-delivery__title">График поставок</div>

            </div>
            <div class="stats-wrapper header__item">
                <div class="header__stats-tankers">
                    <img src="assets/tanker.svg" alt="" class="stats__tanker-img" draggable="false">
                    <div class="stats-tankers__amount">10</div>
                </div>
                <div class="header__stats-fuel-stations">
                    <img src="assets/fuel-station.svg" alt="" class="stats__fuel-station-img" draggable="false">
                    <div class="stats-fuel-stations__amount">23</div>
                </div>
            </div>
        </div>
        <div class="header__settings header__item">
            <div class="header__settings-title">Настройки</div>
            <img src="assets/settings.svg" class="header__settings-img" draggable="false">
        </div>
    </div>


    <div class="facilities">
        <div class="bank">
            <div class="bank__stats">
                <div class="stats-cash">
                    <div class="stats-cash__amount">1000</div>
                    <img src="assets/cash.svg" alt="" class="stats-cash__img" draggable="false">
                </div>
            </div>
            <img src="assets/bank.svg" class="bank__img" draggable="false">
        </div>
        <div class="fuel-storage">
            <div class="fuel-storage__stats">
                <div class="stats-fuel">
                    <div class="stats-fuel__amount">1000</div>
                    <img src="assets/fuel-barell.svg" alt="" class="stats-fuel__img" draggable="false">
                </div>
            </div>
            <div class="fuel-storage__wrapper">
                <img src="assets/fuel-storage.svg" class="fuel-storage__storage-img" draggable="false">
                <img src="assets/rocket.svg" class="fuel-storage__rocket-img" draggable="false">
            </div>
        </div>
    </div>

    <div class="fuel-stations-component">
        <div class="fuel-stations__button-left">
            <img src="assets/right-arrow.svg" alt="" class="button-left__img" draggable="false">
        </div>
        <div class="fuel-stations">
            <div class="fuel-station">
                <div class="fuel-station__stats">
                    <div class="stats-fuel">
                        <div class="stats-fuel__amount">1000</div>
                        <img src="assets/fuel-barell.svg" alt="" class="stats-fuel__img" draggable="false">
                    </div>
                    <div class="stats-petrol">
                        <div class="stats-fuel__amount">3</div>
                        <img src="assets/petrol.svg" alt="" class="stats-petrol__img" draggable="false">
                    </div>
                </div>
                <img src="assets/fuel-station.svg" class="fuel-station__img" draggable="false">
            </div>
            <div class="fuel-station">
                <div class="fuel-station__stats">
                    <div class="stats-fuel">
                        <div class="stats-fuel__amount">1000</div>
                        <img src="assets/fuel-barell.svg" alt="" class="stats-fuel__img" draggable="false">
                    </div>
                    <div class="stats-petrol">
                        <div class="stats-fuel__amount">3</div>
                        <img src="assets/petrol.svg" alt="" class="stats-petrol__img" draggable="false">
                    </div>
                </div>
                <img src="assets/fuel-station.svg" class="fuel-station__img" draggable="false">
            </div>
            <div class="fuel-station">
                <div class="fuel-station__stats">
                    <div class="stats-fuel">
                        <div class="stats-fuel__amount">1000</div>
                        <img src="assets/fuel-barell.svg" alt="" class="stats-fuel__img" draggable="false">
                    </div>
                    <div class="stats-petrol">
                        <div class="stats-fuel__amount">3</div>
                        <img src="assets/petrol.svg" alt="" class="stats-petrol__img" draggable="false">
                    </div>
                </div>
                <img src="assets/fuel-station.svg" class="fuel-station__img" draggable="false">
            </div>
            <div class="fuel-station">
                <div class="fuel-station__stats">
                    <div class="stats-fuel">
                        <div class="stats-fuel__amount">1000</div>
                        <img src="assets/fuel-barell.svg" alt="" class="stats-fuel__img" draggable="false">
                    </div>
                    <div class="stats-petrol">
                        <div class="stats-fuel__amount">3</div>
                        <img src="assets/petrol.svg" alt="" class="stats-petrol__img" draggable="false">
                    </div>
                </div>
                <img src="assets/fuel-station.svg" class="fuel-station__img" draggable="false">
            </div>
            <div class="fuel-station">
                <div class="fuel-station__stats">
                    <div class="stats-fuel">
                        <div class="stats-fuel__amount">1000</div>
                        <img src="assets/fuel-barell.svg" alt="" class="stats-fuel__img" draggable="false">
                    </div>
                    <div class="stats-petrol">
                        <div class="stats-fuel__amount">3</div>
                        <img src="assets/petrol.svg" alt="" class="stats-petrol__img" draggable="false">
                    </div>
                </div>
                <img src="assets/fuel-station.svg" class="fuel-station__img" draggable="false">
            </div>
            <div class="fuel-station">
                <div class="fuel-station__stats">
                    <div class="stats-fuel">
                        <div class="stats-fuel__amount">1000</div>
                        <img src="assets/fuel-barell.svg" alt="" class="stats-fuel__img" draggable="false">
                    </div>
                    <div class="stats-petrol">
                        <div class="stats-fuel__amount">3</div>
                        <img src="assets/petrol.svg" alt="" class="stats-petrol__img" draggable="false">
                    </div>
                </div>
                <img src="assets/fuel-station.svg" class="fuel-station__img" draggable="false">
            </div>
            <div class="fuel-station">
                <div class="fuel-station__stats">
                    <div class="stats-fuel">
                        <div class="stats-fuel__amount">1000</div>
                        <img src="assets/fuel-barell.svg" alt="" class="stats-fuel__img" draggable="false">
                    </div>
                    <div class="stats-petrol">
                        <div class="stats-fuel__amount">3</div>
                        <img src="assets/petrol.svg" alt="" class="stats-petrol__img" draggable="false">
                    </div>
                </div>
                <img src="assets/fuel-station.svg" class="fuel-station__img" draggable="false">
            </div>
            <div class="fuel-station">
                <div class="fuel-station__stats">
                    <div class="stats-fuel">
                        <div class="stats-fuel__amount">1000</div>
                        <img src="assets/fuel-barell.svg" alt="" class="stats-fuel__img" draggable="false">
                    </div>
                    <div class="stats-petrol">
                        <div class="stats-fuel__amount">3</div>
                        <img src="assets/petrol.svg" alt="" class="stats-petrol__img" draggable="false">
                    </div>
                </div>
                <img src="assets/fuel-station.svg" class="fuel-station__img" draggable="false">
            </div>
            <div class="fuel-station">
                <div class="fuel-station__stats">
                    <div class="stats-fuel">
                        <div class="stats-fuel__amount">1000</div>
                        <img src="assets/fuel-barell.svg" alt="" class="stats-fuel__img" draggable="false">
                    </div>
                    <div class="stats-petrol">
                        <div class="stats-fuel__amount">3</div>
                        <img src="assets/petrol.svg" alt="" class="stats-petrol__img" draggable="false">
                    </div>
                </div>
                <img src="assets/fuel-station.svg" class="fuel-station__img" draggable="false">
            </div>
            <div class="fuel-station">
                <div class="fuel-station__stats">
                    <div class="stats-fuel">
                        <div class="stats-fuel__amount">1000</div>
                        <img src="assets/fuel-barell.svg" alt="" class="stats-fuel__img" draggable="false">
                    </div>
                    <div class="stats-petrol">
                        <div class="stats-fuel__amount">3</div>
                        <img src="assets/petrol.svg" alt="" class="stats-petrol__img" draggable="false">
                    </div>
                </div>
                <img src="assets/fuel-station.svg" class="fuel-station__img" draggable="false">
            </div>

        </div>
        <div class="fuel-stations__button-right">
            <img src="assets/right-arrow.svg" alt="" class="button-left__img" draggable="false">
        </div>
    </div>
    
</div>